<h1>Login</h1>

<%= form_tag session_url do %>
	<div>
		<label for="email">E-mail :</label>
		<%= email_field_tag :email, params[:email] %>
	</div>

	<div>
		<label for="password">Mot de passe :</label>
		<%= password_field_tag :password, params[:password] %>
	</div>

	<div>
		<%= submit_tag 'Connexion' %>
	</div>
<% end %>
